* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

/* nav-section and footer styling */
.nav-section, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 16px;
    align-items: center;
}

.nav-section {
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex; 
    gap: 16px;
}

/* hero styling */
.hero-section {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    padding: 80px;
    gap: 40px;
}

.hero-content {
    flex: 1;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 16px;
}

.hero-content p, li, .cta-section p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content p {
    margin-bottom: 16px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.hero-image {
    height: auto;
    width: 500px;
    flex: 1;
}

/* benefits-section styling */

.benefits-section {
    padding: 80px;
    text-align: center;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
}

.benefits-cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card img {
    height: 240px;
    object-fit: cover;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.card {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card p {
    font-size: 18px;
    color: #5f5f5f;
}

/* quote-section styling */

.quote-section {
    padding: 80px;
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 16px;
}

.quote-author {
    text-align: right;
    font-weight: bold;
}

/* cta-section styling */

.cta-section {
    padding: 80px;
}

.cta-wrapper {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-radius: 16px;
}

button.secondary {
    border: 2px solid white;
}

p.small-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* footer styling */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* adjust list and ancor styling */

a {
    color: #F9FAF8;
    text-decoration: none;
}

li {
    list-style: none;
}